body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  --border-color: rgb(80, 254, 53);
  --player-one-color: rgb(255, 0, 230);
  --player-two-color: #ff8000;
  color: var(--border-color);
  background-color:#121212;
  font-family: 'Orbitron', sans-serif;
}

section.board{
  display: grid;
  grid-template-rows: repeat(7, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  margin: 10px;
  /* background-color: var(--border-color) */
  
}

.playerOneHover:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 230, 0.411);
}

.playerTwoHover:hover {
  cursor: pointer;
  background-color: var(--player-two-color);
  /* #ff800092 */
}

.baseLevel {
  display: none;
  /* background-color: #ff8000 */
}

div {
  border: 3px solid;
  border-color: var(--border-color);
  border-radius: 50%;
  
}

#resetButton {
  width: 80px;
  height: 30px;
  margin: none;
  background-color: var(--border-color);
  font-family: Orbitron, sans-serif;
  border: none;
  outline: none;
}




#titleText {
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  border-right: solid 3px rgba(0,255,0,.75);
}


#titleText {
  animation: animated-text 2s steps(30,end) 0s 1 normal both,
  animated-cursor 600ms steps(30,end) infinite;
}


/* text animation */

 @keyframes animated-text{
  from{width: 0;}
  to{width: 250px;}
} 

/* cursor animations */

 @keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}




